/*  your css code here. If applicable */
*{
	box-sizing:border-box;
	margin:0;
	padding:0;
	font-family:arial,sans-serif;
}
body{
	display:flex;
	justify-content:center;
	align-items:center;
	height:100vh;
	background-color:#
}